# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
/core/build
/gradle-plugin/build
/buildSrc/build
/buildSrc/src/main/kotlin/com/iodesystems/build
/build

.env
node_modules
